
/* home page */

#home-intro{

	svg{
		width: 200px;

		@media screen and (max-width: $sm) {
			width: 160px;
		}
	}

	.container-fluid{
		max-width: 1170px;
	}

	.wysiwyg{
		*{
			color: red;
			@extend .font-medium;
		}

	}


	.border-box{
		padding: 90px;
		border: 4px solid white;

		@media screen and (max-width: $lg) {
			padding: 60px;
		}

		@media screen and (max-width: $sm) {
			padding: 30px;
		}

		@media screen and (max-width: $xs) {
			padding: 15px;
		}

	}

}
