.svg-container {
    display: block;
    position: relative;
    width: 100%;
    vertical-align: center;
    clear: both;
    z-index:auto;
}

svg.map {
    display: block;
    position: relative;
    top:0;
    left:0;
}

.map-lines {
    fill: $light;
    stroke: $ultra-light;
    stroke-width: 0.5px;
}

.partner-label {
    @extend .font-icon;

    fill: $brand;

    &:hover {
        fill: white;
        stroke: $brand;
        stroke-width: 1px;
    }
}

.partner-info {

    &:before {
        content:" ";
        position: absolute;

        top:100%;
        left:50%;

        width: 25px;
        height:25px;
        border-right:1px solid $brand;
        border-bottom:1px solid $brand;

        transform: translate(-50%,-50.5% )rotate(45deg);
        background: linear-gradient( -45deg, white 0%, white 50%, transparent 50%, transparent 100%);

    }

    position: absolute;
    box-sizing: border-box;
    z-index:9;

    top: -100%;
    left: -100%;

    background-color: white;
    border:1px solid $brand;
    padding:.5em 1.5em 0em 1.5em;
    width: 25%;
    text-align: center;

    opacity:0;

    img {
        position: relative;
        width:auto;
        height:auto;
        z-index: 10;
    }
}

@media screen and (min-width: $sm) {
    .map-row {
        position: relative;
        top:0;
        left:0;
    }

    .map-column {
        position: absolute;
        top:50%;
        left: 33.33333%;
        transform: translateY(-50%);
    }
}
