

.gform_wrapper{

	.gfield{
		margin-bottom: 50px;
	}

	.gfield.gform_validation_container{
		display: none;
	}

	.validation_error{
		font-size: 18px;
		padding: 15px 0;
		border-bottom: 3px solid $error;
		margin-bottom: 15px;
	}

	.gfield_error{
		border-bottom: 2px solid $error;
	}

	.validation_message{
		font-weight: bold;
		font-size: 11px;
		padding: 5px 0;
	}

	.gfield_checkbox{
		label{
			display: inline;
			max-width: none;
		}

		li{
			margin-bottom: 5px;
		}
	}

	.gfield_required{
		color: $brand;
		margin-left: 5px;
	}

	.field_description_below .gfield_description{
		padding-top: 2px !important;
		@extend .italic;
		font-style: italic;
	}

	.gfield_visibility_{
		display: none;
	}

}

.gform_confirmation_message{
	@extend .h1;
	color: white;
}

img.gform_ajax_spinner {
	display: none !important;
}



input,textarea{
	@include transition(all .125s);
	padding: 10px 7px 8px 7px;
	border: none;
	border-bottom: 4px solid white;
	outline: none;
	background: none;
	box-shadow: none;
	width: 100%;
	color: $dark;
	font-size: 20px;
	font-family: $font-medium;

	@media screen and (max-width: $sm) {
		font-size: 17px;
	}

	&.medium{
		color: white;
	}

	&:focus{
		outline: none;
		border: none;
		border: 4px solid white;
	}

	&[type="submit"]{
		background:none;
		padding: 13px 10px;
		color: white;
		@extend .uppercase;
		@extend .tracked;
		display: block;
		width: 100%;
		max-width: 180px;
		margin: auto auto auto auto;
		text-align: center;
		border: 3px solid white;
		font-size: 16px;
		font-family: $font-brand;
		@include transition(all .125s);

		&:hover{
			@extend .gradient;
			cursor: pointer;
		}

		&:focus{
			@extend .gradient;
		}

		@media screen and (max-width: $sm) {
			padding: 3px 8px;
		}
	}

	&[type="checkbox"]{
		max-width: 30px;
		display: inline;
	}

}

textarea{
	border: 4px solid white;
	padding: 12px;
	background: rgba(255,255,255,.2);

	&:focus{
		outline: none;
		border: 6px solid white;
		@extend .gradient;
	}
}


label{
	@extend .h4;
	display: block;
	margin-bottom: 8px;
	color: white;
}
